<html>
  <head>
    <head>
    <title>Live Video Streaming</title>
  </head>
  <body>
      <center><h1 >Live Video Streaming over the Internet</h1></center>
        <center><hr style="height:2px; border:none; color:#ffffff; background-color:#ffffff; width:35%; margin: 0 auto 0 auto;"></center>
        <center><p>by SPARKLERS: We Are The Makers</p><center>  
    <img style="border:5px solid black;" src="{{ url_for('video_feed') }}" alt = "No Connection" height= 480px width=640px border="2">
  </body>
</html>


